/*タブレット、スマートフォン用*/

@media (max-width: 1000px){
  .top-wrapper{
    height:500px;
  }

  .top-txt{
    height:440px;
    margin-right: 100px;
  }

  h2{ /*見出し*/
    padding-top: 50px;
    padding-bottom: 20px;
    font-size:25px;
  }
}

@media (max-width: 670px){
  .logo{/*現状のロゴっぽいものの制御ヘッダーとフッターに利用*/
    font-size: 15px;
    padding-left:10px;
  }

  .top-wrapper{ /*一番上の背景*/
    margin-top:60px;
    height:100%;
    margin-bottom:-60px;
    background-image: url("top-wrapper.jpg");
    background-size:cover;
  }

  .top-txt{
    margin: 0;
    margin-top:20%;
    margin-right: 20%;
  }

  h2{ /*見出し*/
    padding-top: 40px;
    padding-bottom: 20px;
    font-size:17px;
    font-weight: bold;
  }

  .plan ul{
    padding:0;
    font-size:20px;
  }

  .plan-wrapper{
    padding-bottom:40px;
  }

  .make {
    font-size:10px;
  }
}

@media (max-width: 320px){
  h2{
    font-size:14px;
  }
  .plan ul{
    padding:0;
    font-size:15px;
  }
}
