
.section { /*縦書きにする場合*/
 -webkit-writing-mode: vertical-rl;
 -ms-writing-mode: tb-rl;
 writing-mode: vertical-rl;
}

.top-txt{
  font-family: 'Noto Sans JP', sans-serif;
  width:100%;
  height: 540px;
  position: relative;
  float:right;
  margin-top: 60px;
  margin-right: 200px;
  font-size:60px;
}

.top-txt1{
  position: absolute;
}

.top-txt2{
  position: absolute;
  top:120px;
  right:120px;
}

.head-wrapper{
  width:100%;
  height: 60px;
  background-color: #4CB5F5;
  opacity: 0.6;
}

.container{
  max-width:1170px;
  width:100%;
  margin: 0 auto;
}

.head-left p,footer p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
  line-height: 60px;
  float:left;
  color:white;
  font-weight: bold;
}

.top-wrapper{
  height:600px;
  background-image: url("top-wrapper.jpg");
  background-size:cover;
}

.plan-wrapper{
  background-color:rgba(179,193,0,0.6);
  padding-bottom: 50px;
}

.heading{
  width:100%;
  text-align:center;
}

.heading h2{
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size:30px;
  font-weight: bold;
}

.plan{
  padding-right: 30px;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  font-size: 30px;
  line-height: 70px;
}

.heading li{
  font-family: 'Noto Sans JP', sans-serif;
}

footer {
  background-color:#4CB5F5;
  opacity: 0.6;
  height:60px;
  width:100%
}
